body {
	margin: 0;
}

#arena {
	margin: 200px;
}

.unit {
	stroke: black;
	stroke-width: 3;

	transition: transform 1s;
}

.projectile {
	transition-timing-function: ease-in;
	transition: transform 0.5s;
}

.red {
	fill: red;	
}

.blue {
	fill: blue;	
}

.green {
	fill: green;	
}