<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <link rel="stylesheet" type="text/css" href="/public/css/hamburgers.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Pixels</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="/public/js/menu.js"></script>
</head>
<body>
  <div class="nav">
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="nav-items">
      <a href="/">Home</a>
      <a href="/submit">Submit</a>
      <a href="/color/black">Colors</a>
      <a href="/time?sort=ascending">By Time</a>
      <a href="/density?sort=ascending">Density</a>
      <a href="/authors">Authors</a>
      <a href="/random">Random</a>
    </div>
  </div>
  {{{body}}}
</body>

</html>
