<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/fa-sith-16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/fa-sith-32.png">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>
  {{#if userID}}
  <div class="nav">
    <a href="/"><i class="fas fa-home fa-4x"></i></a>
    <i class="fas fa-pencil-alt fa-4x"></i>
    <a href="/about"><i class="far fa-address-card fa-4x"></i></a>
    <a href="/viewSquadrons/{{ userID }}"><i class="fas fa-chess-board fa-4x"></i></a>
    <a href="/logout"><i class="fas fa-sign-out-alt fa-4x"></i></a>
  </div>
  {{else}}
  <div class="nav">
    <a href="/"><i class="fas fa-home fa-4x"></i></a>
    <a href="/about"><i class="far fa-address-card fa-4x"></i></a>
    <a href="/login"><i class="fas fa-sign-in-alt fa-4x"></i></a>
  </div>
  {{/if}}

  <div id="content">
    {{{body}}}
  </div>  
</body>
</html>
