<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/public/css/hamburgers.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Pixels</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>
  <div class="nav">
    <i class="fas fa-child fa-4x"></i>
    <i class="fas fa-chess-board fa-4x"></i>
    <i class="fas fa-pencil-alt fa-4x"></i>
    <i class="fas fa-dungeon fa-4x"></i>
  </div>
  {{{body}}}
</body>

</html>
