<title>About polywar</title>
<div class="container about">
    <h1>About polywar</h1>
    <h2>What is this all about?</h2>
    <p>
        This is just a fun game that involves you and other people setting up your
        squadrons of polygons and seeing which team composition is the better one. <br>
        Squares are representative of tanks, although slower and more close range.
        Triangles are meant for long distance combat, but they fall easily.
        Circles are just an all around type of unit. A good choice for beginners.
    </p>
    <h2>Who are we?</h2>
    <p>
        We're just two bois who wanted to have fun making games using html and applying
        what we've learned in the class to do so.
    </p>
</div>