<title>Edit squadron {{ name }}</title>
<script src="../public/js/shapeCreator.js"></script>
<script src="../public/js/editTeam.js"></script>

<div class="container">
	<h1>Edit <input id="editName" type="text" value="{{ name }}" /></h1>
	<svg id="lineup" height="200" width="600">
		<defs>
			<pattern id="smallGrid" width="100" height="100" patternUnits="userSpaceOnUse">
				<path d="M 0,0 l 100,0 0,100 -100,0 0,-100" fill="none" stroke-width="1"/>
			</pattern>
			<pattern id="grid" width="600" height="600" patternUnits="userSpaceOnUse">
				<rect width="600" height="200" fill="url(#smallGrid)"/>
				<path d="M 0,0 l 600,0 0,200 -600,0 0,-200" fill="none" stroke-width="5"/>
			</pattern>
		</defs>

		<rect id="bg" width="100%" height="100%" fill="url(#grid)" />
	</svg>
	<button id="finishEdit" class="matButton disabled">save</button>
	<input id="units" type="text" hidden="hidden" value="{{ units }}" />
</div>