<title>polywar home</title>
<script src="../public/js/shapeCreator.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    window.onload = function() {
        let socket = io();

        socket.on("create squadron", (squad) => {
            $(".viewSquadContainer").append(`
            <a id="${ squad.id }" class="thumbnailContainer" href="/viewTeam/${ squad.id }">
                <h2>${ squad.name }</h2>
                <div class="thumbnail">${ createThumbnail(squad.units) }</div>
            </a>`);
        });
    }
</script>

<div class="container">
    <h1>Welcome to polywar!</h1>
    
    <div class="viewSquadContainer">
        {{#each squadrons}}
            <a id="{{ id }}" class="thumbnailContainer" href="/viewTeam/{{ id }}">
                <h2>{{ name }}</h2>
                <div class="thumbnail">{{{createThumbnail units }}}</div>
            </a>
        {{/each}}
    </div>
</div>