<script src="public/js/login.js"></script>

<div class="loginContainer">
	<p class="error"></p>
	<div class="loginBox">
		<input type="text" name="username" required="required" />
		<input type="text" name="password" required="required" />
		<div class="loginButtons">
			<button id="create">New user</button>
			<button id="login">Log in</button>
		</div>
	</div>
</div>