@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--bgcolor: #FFFFFF;
	--midcolor: #D7DADB;
	--fgcolor: #263545;
	--accentred: #C4273C;
	--accentblue: #6DBCDB;
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Montserrat";
}

h1 {
	border-bottom: 3px solid var(--accentred);
}

button {
	cursor: pointer;
}

/***** NAV */
.nav {
	position: absolute;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;

	padding: 20px;
}

.container {
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.battleContainer {	
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	overflow-x: scroll;
}

.battleInfo {	
	height: 100%;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.battleChat {
	width: 80%;
	min-height: 200px;
}

/***** VIEW SQUAD */
.viewSquadContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;

	width: 80%;

	margin-left: auto;
	
	padding: 50px;
}

.thumbnailContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	margin: 10px;
	text-decoration: none;

	width: 160px;
	height: 160px;
}

.thumbnailContainer:hover {
	box-shadow: 0px 3px 6px var(--midcolor);
}

.thumbnailContainer h2 {
	color: var(--fgcolor);
}

.viewUnit {
	stroke: var(--fgcolor);
	stroke-width: 3;
	fill: var(--midcolor);
}

/***** EDIT */
.editUnit {
	stroke: var(--fgcolor);
	stroke-width: 3;
	fill: var(--accentblue);
}

#editName {
	font-size: 32px;
	font-family: "Montserrat";

	border: none;

	text-align: center;
}

#editName:focus {
	text-align: left;
}

.matButton {
	background-color: var(--accentblue);
	color: var(--fgcolor);
	
	border: none;

	font-family: "Montserrat";
	font-size: 28px;
	padding: 10px 25px;
	
	box-shadow: 0px 3px 6px var(--midcolor);
}

.unit {
	stroke: black;
	stroke-width: 3;

	transition: transform 1s;
}

.projectile {
	transition-timing-function: ease-in;
	transition: transform 0.5s;
}

.red {
	fill: var(--accentred);
}

.blue {
	fill: var(--accentblue);	
}

#smallGrid path, #grid path {
	stroke: var(--midcolor);
}

/***** LOGIN */
.loginContainer {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginBox {
	width: 30%;
	min-width: 320px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 3px 6px var(--midcolor);
}

.loginBox input, .loginBox button {
	width: 100%;
	margin: 0;

	font-family: "Montserrat";
	font-size: 28px;
	padding: 5px;

	background-color: var(--bgcolor);
	border: 1px solid var(--midcolor);	
}

.loginButtons {
	width: 100%;

	display: flex;
	flex-direction: row;
}

.loginBox button {
	background-color: var(--accentred);
	border: none;
}

#login {
	background-color: var(--accentblue)
}